<form action="" method="post">
    {% csrf_token %}
    ID : <input type="text" name="id">
    <input type="button" value="중복확인" onclick="id_check()"><br>
    PW : <input type="password" name="pw"><br>
    Name : <input type="text" name="name"><br>
    <input type="submit">
</form>
{% load static %}
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script>
    function id_check(){
        id = $('input[name=id]').val()
        $.ajax({
            url: '/lotto/id_check',
            type: 'post',
            data: {'id':id},
            success : function(res) {
            }
        })
    }
</script>